# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=student_analytics_db
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/student_analytics_db

# MLflow Tracking
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=Student_Dropout_Prediction_System

# API & Dashboard
API_HOST=0.0.0.0
API_PORT=8000
DASHBOARD_PORT=8501
